// Material Icons
@import '~material-design-icons/iconfont/material-icons.css';

// Variables
@import './vars/colorPallete';

// Utilities
@import './utils/decorations';
@import './utils/displays';
@import './utils/elmSizes';
@import './utils/margins';
@import './utils/positions';
@import './utils/texts';

// Components
@import './comps/paginations';


* {
	box-sizing: border-box;
}

a {
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
