/*
 * Border
 */
.border-none {
  border: none;
}

.border-solid {
  border-style: solid;
}

@for $size from 1 through 10 {
  .border-px-#{$size} {
    border-width: #{$size}px;
  }
}

@each $key, $color in $colorPallete {
  .border-#{$key} {
    border-color: #{$color};
  }
}


/*
 * Border Radius
 */
.rounded-circle {
  border-radius: 50%;
}

@for $num from 0 through 50 {
  .rounded-px-#{$num} {
    border-radius: #{$num}px;
  }
}


/*
 * Cursor
 */
.cursor-pointer {
  cursor: pointer;
}


/*
 * Opacity
 */
@for $num from 1 through 10 {
  .opacity-#{$num} {
    opacity: calc(#{$num} * 0.1);
  }
}
