/*
 * Border
 */
.border-none {
  border: none;
}

.border-radius-pct-50 {
  border-radius: 50%;
}

@for $num from 0 through 50 {
  .border-radius-px-#{$num} {
    border-radius: #{$num}px;
  }
}


/*
 * Cursor
 */
.cursor-pointer {
  cursor: pointer;
}


/*
 * Background Color
 */
@each $key, $color in $colorPallete {
  .bg-color-#{$key} {
    background-color: $color;
  }
}
