/* ====================
* Border
*/
.border-none {
  border: none !important;
}

.border-radius-pct-50 {
  border-radius: 50% !important;
}

@for $num from 0 through 50 {
  .border-radius-px-#{$num} {
    border-radius: #{$num}px !important;
  }
}


/* ====================
* Cursor
*/
.cursor-pointer {
  cursor: pointer !important;
}


/* ====================
* Background Color
*/
@each $key, $color in $colorPallete {
  .bg-color-#{$key} {
    background-color: $color !important;
  }
}
