/*
 * Display
 */
$displayValues: block, flex, grid, none;

@each $val in $displayValues {
  .display-#{$val} {
    display: $val;
  }
}


/*
 * Overflow
 */
$overflowValues: auto, hidden, scroll;

@each $val in $overflowValues {
  .overflow-#{$val},
  .overflow-x-#{$val} {
    overflow-x: $val;
  }

  .overflow-#{$val},
  .overflow-y-#{$val} {
    overflow-y: $val;
  }
}
