/*
 * Display
 */
$displayValues: block, flex, grid, none;

@each $val in $displayValues {
  .display-#{$val} {
    display: $val !important;
  }
}


/*
 * Flex
 */
$alignItemsValues: start, center, end;
$justifyContentValues: left, center, right, space-between, space-evenly;

@each $val in $alignItemsValues {
  .align-items-#{$val} {
    align-items: $val !important;
  }
}

@each $val in $justifyContentValues {
  .justify-content-#{$val} {
    justify-content: $val !important;
  }
}

.flex-wrap-wrap {
  flex-wrap: wrap !important;
}

.flex-direction-column {
  flex-direction: column !important;
}


/*
 * Grid
 */
.align-center-middle {
  display: grid !important;
  place-items: center !important;
}


/*
 * Overflow
 */
$overflowValues: auto, hidden, scroll;

@each $val in $overflowValues {
  .overflow-#{$val},
  .overflow-x-#{$val} {
    overflow-x: $val !important;
  }

  .overflow-#{$val},
  .overflow-y-#{$val} {
    overflow-y: $val !important;
  }
}


/*
 * Images
 */
$objectFitValues: contain, cover;

@each $val in $objectFitValues {
  .object-fit-#{$val} {
    object-fit: $val !important;
  }
}


/*
 * Center display with max-width
 */
@for $size from 500 through 1500 {
  .center-display-max-#{$size} {
    margin: 0 auto !important;
    max-width: #{$size}px !important;
  }
}
