/* ====================
 * Absolute Size
**/
@for $size from 1 through 1500 {
  .width-px-#{$size} {
    width: #{$size}px !important;
  }
  .height-px-#{$size} {
    height: #{$size}px !important;
  }

  .min-width-px-#{$size} {
    min-width: #{$size}px !important;
  }
  .min-height-px-#{$size} {
    min-height: #{$size}px !important;
  }

  .max-width-px-#{$size} {
    max-width: #{$size}px !important;
  }
  .max-height-px-#{$size} {
    max-height: #{$size}px !important;
  }
}


/* ====================
 * Relative Size
**/
@for $size from 1 through 200 {
  .width-pct-#{$size} {
    width: calc(#{$size} * 1%) !important;
  }
  .height-pct-#{$size} {
    height: calc(#{$size} * 1%) !important;
  }
  .height-vh-#{$size} {
    height: calc(#{$size} * 1vh) !important;
  }

  .min-width-pct-#{$size} {
    min-width: calc(#{$size} * 1%) !important;
  }
  .min-height-pct-#{$size} {
    min-height: calc(#{$size} * 1%) !important;
  }
  .min-height-vh-#{$size} {
    min-height: calc(#{$size} * 1vh) !important;
  }

  .max-width-pct-#{$size} {
    max-width: calc(#{$size} * 1%) !important;
  }
  .max-height-pct-#{$size} {
    max-height: calc(#{$size} * 1%) !important;
  }
  .max-height-vh-#{$size} {
    max-height: calc(#{$size} * 1vh) !important;
  }
}
