/*
 * Absolute Size
 */
@for $size from 1 through 1500 {
  .width-px-#{$size} {
    width: #{$size}px;
  }
  .height-px-#{$size} {
    height: #{$size}px;
  }

  .min-width-px-#{$size} {
    min-width: #{$size}px;
  }
  .min-height-px-#{$size} {
    min-height: #{$size}px;
  }

  .max-width-px-#{$size} {
    max-width: #{$size}px;
  }
  .max-height-px-#{$size} {
    max-height: #{$size}px;
  }
}


/*
 * Relative Size
 */
@for $size from 1 through 200 {
  .width-pct-#{$size} {
    width: calc(#{$size} * 1%);
  }
  .height-pct-#{$size} {
    height: calc(#{$size} * 1%);
  }
  .height-vh-#{$size} {
    height: calc(#{$size} * 1vh);
  }

  .min-width-pct-#{$size} {
    min-width: calc(#{$size} * 1%);
  }
  .min-height-pct-#{$size} {
    min-height: calc(#{$size} * 1%);
  }
  .min-height-vh-#{$size} {
    min-height: calc(#{$size} * 1vh);
  }

  .max-width-pct-#{$size} {
    max-width: calc(#{$size} * 1%);
  }
  .max-height-pct-#{$size} {
    max-height: calc(#{$size} * 1%);
  }
  .max-height-vh-#{$size} {
    max-height: calc(#{$size} * 1vh);
  }
}
