/*
 * Margin
 */
.margin-x-auto {
  margin: 0 auto;
}
.margin-y-auto {
  margin: auto 0;
}

@for $size from 0 through 20 {
  .margin-#{$size},
  .margin-x-#{$size},
  .margin-left-#{$size} {
    margin-left: calc(#{$size} * 0.25rem);
  }
  .margin-#{$size},
  .margin-x-#{$size},
  .margin-right-#{$size} {
    margin-right: calc(#{$size} * 0.25rem);
  }

  .margin-#{$size},
  .margin-y-#{$size},
  .margin-top-#{$size} {
    margin-top: calc(#{$size} * 0.25rem);
  }
  .margin-#{$size},
  .margin-y-#{$size},
  .margin-bottom-#{$size} {
    margin-bottom: calc(#{$size} * 0.25rem);
  }
}


/*
 * Padding
 */
.padding-x-auto {
  padding: 0 auto;
}
.padding-y-auto {
  padding: auto 0;
}

@for $size from 0 through 20 {
  .padding-#{$size},
  .padding-x-#{$size},
  .padding-left-#{$size} {
    padding-left: calc(#{$size} * 0.25rem);
  }
  .padding-#{$size},
  .padding-x-#{$size},
  .padding-right-#{$size} {
    padding-right: calc(#{$size} * 0.25rem);
  }

  .padding-#{$size},
  .padding-y-#{$size},
  .padding-top-#{$size} {
    padding-top: calc(#{$size} * 0.25rem);
  }
  .padding-#{$size},
  .padding-y-#{$size},
  .padding-bottom-#{$size} {
    padding-bottom: calc(#{$size} * 0.25rem);
  }
}
