/*
 * Position Types
 */
$positionValues: absolute, fixed, relative, sticky;

@each $val in $positionValues {
  .position-#{$val} {
    position: $val;
  }
}


/*
 * Position
 */
@for $num from 1 through 5 {
  .z-index-#{$num} {
    z-index: $num;
  }
}

@for $num from 0 through 500 {
  .top-px-#{$num} {
    top: #{$num}px;
  }
  .bottom-px-#{$num} {
    bottom: #{$num}px;
  }

  .left-px-#{$num} {
    left: #{$num}px;
  }
  .right-px-#{$num} {
    right: #{$num}px;
  }
}
