/*
 * Position Type
 */
$positionValues: absolute, fixed, relative, sticky;

@each $val in $positionValues {
  .#{$val} {
    position: $val;
  }
}


/*
 * Position
 */
@for $num from 1 through 5 {
  .z-#{$num} {
    z-index: $num;
  }

  .z-negative-#{$num} {
    z-index: calc(#{$num} * -1);
  }
}

@for $num from 0 through 500 {
  .t-px-#{$num} {
    top: #{$num}px;
  }
  .b-px-#{$num} {
    bottom: #{$num}px;
  }

  .l-px-#{$num} {
    left: #{$num}px;
  }
  .r-px-#{$num} {
    right: #{$num}px;
  }
}
