/*
 * Text Color
 */
@each $key, $color in $colorPallete {
  .color-#{$key} {
    color: $color;
  }
}


/*
 * Text Align
 */
$textAlignValues: left, center, right;

@each $val in $textAlignValues {
  .text-align-#{$val} {
    text-align: $val;
  }
}

.text-align-middle {
  display: flex;
  align-items: center;
}


/*
 * Font Size
 */
@for $size from 1 through 50 {
  .font-size-#{$size} {
    font-size: calc(#{$size} * 0.1rem);
  }
}


/*
 * Font Weight
 */
.font-weight-bold {
  font-weight: bold;
}


/*
 * Text Overflow
 */
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
