/*
 * Text Color
 */
@each $key, $color in $colorPallete {
  .color-#{$key} {
    color: $color !important;
  }
}


/*
 * Text Align
 */
$textAlignValues: left, center, right;

@each $val in $textAlignValues {
  .text-align-#{$val} {
    text-align: $val !important;
  }
}

.text-align-middle {
  display: flex !important;
  align-items: center !important;
}


/*
 * Font Size
 */
@for $size from 1 through 50 {
  .font-size-#{$size} {
    font-size: calc(#{$size} * 0.1rem) !important;
  }
}


/*
 * Font Weight
 */
.font-weight-bold {
  font-weight: bold !important;
}


/*
 * Text Overflow
 */
.text-ellipsis {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
