/*
 * Font Size
 */
@for $size from 1 through 50 {
  .text-#{$size} {
    font-size: calc(#{$size} * 0.1rem);
  }
}


/*
 * Font Weight
 */
@for $num from 1 through 9 {
  .weight-#{$num} {
    font-weight: calc(#{$num} * 100);
  }
}


/*
 * Text Ellipsis
 */
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
