$baseZIndex: map-get($config, baseZIndex);


/* ====================
 * Scroll Top Btn
 *
 * Usage: '/dist/index.html'
**/
.btn-scroll-top {
	position: fixed;
	bottom: 10px; right: 10px;
	z-index: calc(#{$baseZIndex} + 1);

	border-radius: 50%;
	background-color: rgba(128,128,128, .3);
}


/* ====================
 * Primary Btn
 *
 * Usage: '/dist/index.html'
**/
.btn-primary {
	padding: 12px 23px;

	color: white;
	font-size: 15px;
	border: none;
	border-radius: 10px;
	background-color: #1A60A3;
	box-shadow: 2px 2px 2px #cdd1d3;

	&:hover {
		background-color: #2f78be;
		box-shadow: none;
	}

	&:disabled {
		background-color: #6FAAFF;
		box-shadow: none;
		cursor: auto;
	}
}
