/*
 * Circle Loader
 *
 * Usage: '/dist/index.html'
 */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin spinner(
  $baseSize,
  $borderWidth,
  $spinTransition,
) {
  width: $baseSize;
  height: $baseSize;

  border: solid $borderWidth #F3F3F3;
  border-top: solid $borderWidth #1A60A3;
  border-radius: 50%;

  animation: spin $spinTransition linear infinite;
}

.loader-circle {
  &.large {
    @include spinner(100px, 10px, 1.5s);
  }
  &.medium {
    @include spinner(50px, 7px, 1.25s);
  }
  &.small {
    @include spinner(25px, 4px, 1s);
  }
}
