$baseZIndex: map-get($config, baseZIndex);


/* ====================
 * Modal Overlay
 *
 * Usage: '/dist/index.html'
**/
.modal-overlay {
	position: fixed;
	top: 0; right: 0;
	z-index: calc(#{$baseZIndex} + 2);
	width: 100%; height: 100vh;

	cursor: pointer;
	background-color: rgba(0,0,0, .7);
}


/* ====================
 * Modal
 *
 * Usage: '/dist/index.html'
**/
.modal-container {
	position: fixed;
	top: 0; right: 0;
	z-index: calc(#{$baseZIndex} + 3);
	width: 100%; height: 100vh;

	display: grid;
	place-items: center;
	pointer-events: none;

	.modal {
		padding: 20px;

		border-radius: 10px;
		pointer-events: auto;
		background-color: white;
		box-shadow: 0 0 10px 10px rgba(0,0,0, .1);
	}
}
